.input-group {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin-top: 1rem;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
	.input-group-text {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0.375rem 0.75rem;
		color: white;
		background-color: #ff536e;
		border-radius: 0.25rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		&.last {
			border-radius: 0.25rem;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			font-family: 'Rubik', sans-serif;
			cursor: pointer;
		}	
		&.erase {
			border-radius: 0;
			background-color: #341539;
			cursor: pointer;
		}
	}
	input, input:focus {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		width: 1%;
		min-width: 0;
		margin-bottom: 0;
		display: block;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.4;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 0 !important;
		overflow: visible;
		outline: 0 !important;
	}
}