.errorcode-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff536e;
    .errorcode {
        font-size: 10px;
        width: 300px;
        height: 100px;
        position: absolute;
        left: 50%;
        top:50%;
        margin-left: -150px;
        margin-top: -50px;
        color: white;
        font-family: 'Rubik', sans-serif;
        font-size: 1.6rem;
    }
}


