.modal-bg {
	display: flex !important;
	z-index: 800;
	display: none !important;
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
	line-height: 1;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-transition: background-color 0.5s linear;
	transition: background-color 0.5s linear;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	will-change: opacity;
	z-index: 1000;
	&.active {
		opacity: 1;
		display: block !important;
		visibility: visible !important;
	}
	.box.card {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 700px;
		cursor: default;
		text-align: left;
		max-height: 80%;
		min-height: 80%;
		padding-bottom: 1rem;
		overflow-y: auto;
		margin: 0.2rem 0;
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
		padding: 1.3rem;
	}
	.header {
		font-family: "Rubik", sans-serif;
		letter-spacing: -0.5px;
		margin: 0;
		font-size: 1.6rem;
		color: #ff536e;
		i {
			font-size: 1.7rem;
			float: right;
			cursor: pointer;
		}
	}
	.content {
		h4 {
			margin-bottom: 0;
			font-family: "Rubik", sans-serif;
		}
		ul {
			padding-left: 0;
			font-family: "Lato", sans-serif;
			font-size: 0.8rem;
			background: #ffb6c1;
			border-radius: 4px;
			box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
			transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
				0.3s box-shadow,
				0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
			padding: 0.7rem;
			cursor: pointer;
			margin: 0.6rem 0;
		}
		li {
			padding: 0.7rem;
			list-style: none;
			background-color: #341539;
			color: white;
			margin: .7rem 0 .3rem;
			border-radius: 4px;
		}
	}
}

@media (max-width: 700px){
	.box.card {
		width: 100% !important;
	}
}
