h1 {
    font-family: 'Rubik', sans-serif;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

.list {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
	grid-gap: 1.1em;
    margin-top: 2rem;
}

img {
    width: 100px;
    display: block;
    margin: 2rem auto 0;
}