.list .card {
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
	padding: 1.3rem;
	display: grid;
	grid-template-areas:
		"banda banda banda"
		"pais pais pais"
		"lanzamiento lanzamiento lanzamiento"
		"star twitter pluscircle";
	grid-gap: 0.8rem;
	h2 {
		font-family: "Rubik", sans-serif;
		letter-spacing: -0.5px;
		margin: 0;
		font-size: 1.1rem;
		color: #ff536e;
		grid-area: banda;
	}
	h4 {
		font-family: "Rubik", sans-serif;
		grid-area: pais;
		margin: 0;
		font-size: 0.9rem;
	}
	h5 {
		font-family: "Lato", sans-serif;
		margin: 0 0 .5rem;
		font-size: 0.9rem;
		grid-area: lanzamiento;
	}
	.fa-star {
		grid-area: star;
		color: #D3FF53;
		cursor: pointer;
	}
	
	a {
		text-align: center;
		.fa-twitter {
			grid-area: twitter;
			color: #00a2f3;
		}
	}	
	.fa-plus-circle {
		grid-area: pluscircle;
		justify-self: end;
		color: #341539;
		cursor: pointer;
	}
}